<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
      
<nav class="navbar navbar-dark bg-dark" >
  <form class="form-inline">
    <a href="/skygazer" ><button class="btn btn-outline-danger" type="button">Sky Gazer</button></a>
     <a href="/rovers" ><button class="btn btn-outline-danger" type="button">Track the Rover</button></a>
      <a href="/mars" ><button class="btn btn-outline-danger" type="button">Mars Weather</button></a>
  </form>
</nav>
        <h1>Sky Gazer</h1>
        <h2>Picture of the Day!</h2>
    
    <div id="myPictureArea"></div>
    
    <div class="uk-margin">
    <form class="uk-search uk-search-default">
        <span uk-search-icon></span>
        <input class="uk-search-input" type="search" placeholder="Search...YYYY-MM-DD">
    </form>
    </div>
    
       
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/public/js/apod.js"></script>
