<div id="home">
  <div class="container">
    <div class="row">
      <div class="col-8 offset-2">
      
<nav class="navbar navbar-dark bg-dark" >
  <form class="form-inline">
    <button class="btn btn-outline-danger" type="button">Sky Gazer</button>
     <button class="btn btn-outline-danger" href="/rovers" type="button">Track the Rover</button>
      <button class="btn btn-outline-danger" href="/mars" type="button">Mars Weather</button>
  </form>
</nav>
        <h1>Sky Gazer</h1>
        <h2>Picture of the Day!</h2>
    {{!-- Search Bar --}}
    <div class="uk-margin">
      <form class="uk-search uk-search-default">
        <span uk-search-icon></span>
        <input id="apod_search" class="uk-search-input" type="search" placeholder="Enter a date in this format:  [ YYYY-MM-DD ]">
      </form>
      <button class="btn btn-danger float-right" id="apod_search_btn">Search</button>
    </div>

    
    {{!-- Image --}}
    <div id="myPictureArea"></div>
    {{!-- Image Title --}}
    <div id="apod_title"></div>
    {{!-- Image Date --}}
    <div id="apod_date"></div>
    {{!-- Image Explanation --}}
    <div id="apod_expl"></div>
    <p></p>
    
    
       
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>