<div id="mars">
<div class="container">
<h1>Mars Weather to Explore!!</h1>

{{#each sol_key}}

	<div class="col-sm-9 text-center">
		
		
			sol_key: {{this.Season}}

		
			
		</div>

		{{/each}}
	</div>
</div>