.list-group-item {
  line-height: 2.5;
}
h2 {
  font-family: Faster One’, cursive;
}
.container{
  background-image:url(/public/shinning-stars-space-background.jpg);
  background-repeat:no-repeat;
   background-size:cover;
   background-attachment:fixed;
  }
.rovPic {
  width: 150px;
}